@media (max-width: 74em) {
  html {
    font-size: 50%;
  }
  .firstcolume-p {
    width: 20rem;
  }
  .questions {
    width: 18rem;
    font-size: 2.3rem;
  }
  .head3-p {
    width: 40rem;
  }
  .list {
    height: 45rem;
  }
  .courses {
    height: 160rem;
  }
  .slide-imgs {
    margin-right: 80rem;
  }
  .slide-imgs-img {
    width: 60%;
    height: 60%;
  }
  .slide-arrow-l {
    margin-left: -6rem;
  }
  .slide-arrow-r {
    margin-right: -6rem;
  }
  .box6 {
    gap: 60rem;
  }
}

@media (max-width: 20em) {
  /* 320px */
  body {
    width: 32rem;
  }
  .box {
    width: 32rem;
    height: 6.9rem;
  }
  .tbclogo {
    width: 13rem;
    height: 2.9rem;
  }
  .teammembers {
    width: 32rem;
    height: 21.717rem;
  }
  .box1 {
    width: 28rem;
    height: 11.717rem;
    font-size: 2px;
  }
  .head1 {
    width: 16rem;
    height: 3.4rem;
    font-size: 24px !important;
  }
  .head2 {
    width: 22.3rem;
    height: 7.139rem;
    font-size: 22px !important;
    line-height: 4rem;
  }
  .introduction {
    width: 32rem;
    height: 50.331rem;
    display: block;
  }
  .box2 {
    font-size: 17px;
    width: 28rem;
    display: block;
    height: 35.831rem;

    /* margin-bottom: 4rem; */
  }
  .intro {
    /* height: 35.831rem; */
    line-height: 2.5rem;

    /* padding: 2rem; */
    padding-top: 3rem;

    margin-bottom: 4rem;
  }

  .more {
    font-size: 18px !important;
  }
  .courses {
    width: 32rem;
    height: 292.852rem;
  }

  .header {
    width: 28rem;
    height: 3.4rem;
    padding-top: 2rem;
  }
  .box3 {
    width: 28rem;
    height: 282.952rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .list {
    width: 28rem !important;
  }
  .coursename {
    font-size: 1.5rem !important;
    padding-top: 2rem !important;
  }
  .details {
    margin-top: 0 !important;
  }
  .registration {
    padding-bottom: 1rem;
  }
  .info {
    padding-left: 2rem !important;
  }
  .btn {
    font-size: 1.5rem !important;
  }
  .partners {
    width: 32rem;
    height: 43.08rem;
  }
  .partners-head {
    margin: auto 2rem;
    font-size: 1.8rem;
  }
  .slide-imgs {
    /* flex-direction: column; */
  }
  .askedquestions {
    height: 49.6rem;
    width: 32rem;
  }
  .box5 {
    width: 28rem;
  }
  .head3 {
    width: 27rem;
    display: block !important;
  }
  .head3-p {
    font-size: 20px !important;
    width: 20rem;
  }
  /* .list1 {
    gap: 0;
  } */
  .listitem {
    font-size: 18px !important;
    padding-bottom: 0rem;
  }
  .listitem2 {
    font-size: 18px !important;
  }
  .listitem3 {
    font-size: 18px !important;
  }
}
