* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wdth,wght@62.5..100,100..900&display=swap");

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Noto Sans Georgian", sans-serif;
}

body {
  min-width: 106rem;
}

.navlinks {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navlinks:hover,
.navlinks:active {
  color: #00a3e0;
}

.links {
  display: flex;

  font-size: 1.6rem;
  gap: 4rem;
  list-style: none;
  align-items: center;
}

.TBClink {
  color: #00a3e0;
  text-decoration: none;
}

.head1 {
  font-size: 4.4rem;
  color: #fff;
  font-weight: bolder;
}

.head2 {
  font-size: 3.4rem;
  color: #fff;
}

.more {
  color: #00a3e0;
  font-size: 2.2rem;
  font-weight: bolder;
  text-decoration: none;
  transition: color 0.3s ease;
}

.more:hover,
.more:active {
  color: #7f858d;
}

.list {
  list-style: none;
  border: 1px solid #ffffff30;
  border-radius: 8px;
  overflow: hidden;
  height: 41.4rem;
  width: 30rem;
}

.info {
  padding-left: 2.5rem;
}

.coursename {
  padding-top: 3rem;
  font-size: 1.8rem;
}

.coursename1 {
  font-size: 1.8rem;
  padding-top: 0.4rem;
}

.registration {
  padding-top: 2rem;
  font-size: 1.54rem;
  font-weight: 599;
}

.details {
  margin-top: 11rem;
  display: flex;
  gap: 1rem;

  border: none;
}

.details-last {
  margin-top: 8.27rem;
  display: flex;
  gap: 1rem;
}

.arrow {
  padding-top: 1rem;
}

.btn {
  color: #00a3e0;
  transition: color 0.5s ease;
  cursor: pointer;
  background-color: rgb(22, 22, 22);
  border: none;
  font-size: 1.8rem;
}

.btn:hover,
.btn:active {
  color: #247da0;
}

.slide-arrow-l {
  position: absolute;
  top: 13rem;
  left: 6rem;
  cursor: pointer;
}

.slide-arrow-l:hover,
.slide-arrow-l:active {
  filter: invert(40%);
}

.slide-arrow-r:hover,
.slide-arrow-r:active {
  filter: invert(40%);
}

.slide-arrow-r {
  position: absolute;
  top: 13rem;
  right: 6rem;
  cursor: pointer;
}

.slide-imgs {
  display: flex;
  gap: 12rem;
  height: 7.9rem;
  align-items: center;
  /* justify-content: center; */
}

.dots-dot,
.dots-dot1,
.dots-dot2 {
  border: none;
  background-color: rgb(232, 230, 230);

  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  cursor: pointer;
}

.dots__dot--active {
  background-color: #888;
  opacity: 1;
}

.dots {
  position: absolute;
  left: 50%;
  top: 20rem;
  transform: translateX(-40%);
}

.slide {
  position: absolute;

  width: 190.3rem;
  height: 30rem;

  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lvlhead {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}

.levels {
  list-style: none;
  line-height: 2.4rem;
  margin-left: 2rem;
  margin-bottom: 5rem;
}

.list1 {
  list-style: none;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.head3 {
  display: flex;
  gap: 42rem;
  font-size: 2.44rem;
  font-weight: 400;
  padding-bottom: 1.6rem;
}

.questions {
  text-decoration: none;
  color: #00a3e0;
  transition: color 0.4s ease;
  font-weight: bolder;
}
.questions:hover,
.questions:active {
  color: #7f858d;
}

.btns {
  margin-left: 39rem;
  background-color: rgb(22, 22, 22);
  border: none;
  cursor: pointer;
}

.listitem {
  border-bottom: 1px solid #ffffff30;
  padding-bottom: 3rem;
  cursor: pointer;
}

.listitem2 {
  border-bottom: 1px solid #ffffff30;
  padding-bottom: 3rem;
  cursor: pointer;
}

.listitem3 {
  border-bottom: 1px solid #ffffff30;
  padding-bottom: 3rem;
  cursor: pointer;
  margin-bottom: 8rem;
}

.btns2 {
  margin-left: 37.2rem;
  background-color: rgb(22, 22, 22);
  border: none;
  cursor: pointer;
}

.btns3 {
  margin-left: 48.5rem;
  background-color: rgb(22, 22, 22);
  border: none;
  cursor: pointer;
}

.firstcolume {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 1.4rem;
  color: #fff;
  margin-left: 8rem;
}

.logotbc {
  width: 10.6rem;
  height: 3rem;
}

.scncolume {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.textus {
  background-color: #00a3e0;

  color: #fff;
  font-size: 2rem;

  border-radius: 7.5px;

  margin-right: 7rem;
  margin-top: 1rem;
  transition: color 0.3s ease;
  padding: 0.7rem 3rem 0.7rem 3rem;
  text-decoration: none;
}

.textus:hover,
.textus:active {
  background-color: #dfdddd;
  color: #1a1e1f;
}

.text,
.text1,
.text2 {
  font-size: 1.6rem;
  font-weight: 400;
  padding-top: 3rem;
  padding-bottom: 1rem;
  /* opacity: 0; */
  /* max-height: 0; */
  /* overflow: hidden; */
  /* transition: all 0.3s ease; */
}

.active-readmore {
  /* opacity: 1; */
  /* transition: opacity 1s ease-in-out; */
  display: none;
}

.rules {
  cursor: pointer;
  font-size: 1.5rem;
}

.Security {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  font-size: 1.5rem;
}
