* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wdth,wght@62.5..100,100..900&display=swap");

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Noto Sans Georgian", sans-serif;
}

.tbclogo {
  height: 4rem;
  /* width: 18.2rem; */
}

.navlinks {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navlinks:hover,
.navlinks:active {
  color: #00a3e0;
}

.links {
  display: flex;
  /* text-align: right; */
  font-size: 1.6rem;
  gap: 4rem;
  list-style: none;
  align-items: center;
}

.TBClink {
  color: #00a3e0;
  text-decoration: none;
}

.navigation {
  background-color: #1a1e1f;
  display: flex;
  /* height: 8.4rem; */
  align-items: center;
  justify-content: center;
  gap: 44rem;
  /* width: 190.3rem; */
  height: 8.4rem;
}

.teammembers {
  height: 35.2rem;
  background-image: url("IMG/meeting.webp");
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 8.4rem; */
}

.head1 {
  /* font-family: wfont_643d94_f52303b2efea42e1b4aeed119e42672e,
    wf_f52303b2efea42e1b4aeed119, orig_tbc_x_black; */
  font-size: 4.2rem;
  color: #fff;
  font-weight: bolder;
}

.head2 {
  font-size: 3.4rem;
  color: #fff;
}

.box1 {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 0 auto;
  height: 13.738rem;
  width: 98rem;
}

.introduction {
  height: 46.478rem;
  /* width: 190.3rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(43, 43, 43);
  color: #fff;
}

.box2 {
  font-size: 2.8rem;
  width: 95.7rem;
  height: 26.498rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-bottom: 6rem;
  align-items: start;
}

.intro {
  font-weight: 400;
}

.more {
  color: #00a3e0;
  font-size: 2.4rem;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
  /* margin-bottom: 5rem; */
}

.more:hover,
.more:active {
  color: #7f858d;
}

.intro {
  line-height: 4rem;
}

.courses {
  /* width: 190.3rem; */
  height: 148.5rem;
  background-color: rgb(22, 22, 22);
  color: #fff;
}

.box3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 95.7rem;
  height: 26.498rem;
  margin: 0 auto;
  gap: 3rem;
}

.header {
  width: 95.7rem;
  font-size: 2.4rem;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.list {
  list-style: none;
  border: 1px solid #ffffff30;
  border-radius: 8px;
  overflow: hidden;
  height: 41.6rem;
  /* width: 30rem; */
}

.info {
  padding-left: 2.5rem;
}

.coursename {
  padding-top: 3rem;
  font-size: 1.8rem;
}

.registration {
  padding-top: 2rem;
  font-size: 1.55rem;
}

.details {
  /* font-size: 1.8rem; */
  margin-top: 12rem;
  display: flex;
  gap: 1rem;
  /* background-color: rgb(22, 22, 22); */
  border: none;
  /* cursor: pointer; */
  /* align-items: center; */
}

.arrow {
  padding-top: 1rem;
}

.btn {
  color: #00a3e0;
  transition: color 0.5s ease;
  cursor: pointer;
  background-color: rgb(22, 22, 22);
  border: none;
  font-size: 1.8rem;
}

.btn:hover,
.btn:active {
  color: #247da0;
}

.partners {
  height: 36.339rem;
  /* width: 190.3rem; */
  background-color: rgb(43, 43, 43);
  font-size: 2.4rem;
  color: #fff;
}

.box4 {
  margin: auto 47.5rem;
  padding-top: 3rem;
}

.slide-arrow-l {
  position: absolute;
  top: 14rem;
  left: 9rem;
  cursor: pointer;
}

.slide-arrow-r {
  position: absolute;
  top: 14rem;
  right: 9rem;
  cursor: pointer;
}

.slide-imgs {
  display: flex;
  gap: 10rem;
  height: 7.4rem;
}

.slider {
  /* max-width: 100rem;
  height: 50rem; */
  /* margin: 0 auto; */
  position: relative;

  /* IN THE END */
  /* overflow: hidden; */
}

/* .dots__dot--active {
  
  background-color: #888;
  opacity: 1;
} */

/* .dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

} */

/* .dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
} */

.slide {
  position: absolute;

  width: 100%;
  height: 30rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* .box4 {
  flex-direction: column;

  margin: 0 auto;
  padding-top: 3rem;
  width: 95.5rem;
  height: 100%;
} */

/* .slider {
}

.slider-img:hover,
.slider-img:active {
} */

.askedquestions {
  padding-top: 6rem;
  min-height: 30rem;
  /* width: 190.3rem; */
  background-color: rgb(22, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: row;
}

.box5 {
  width: 90rem;
  /* height: 37.7rem; */
  display: flex;
  gap: 3rem;
  flex-direction: column;
  padding-top: 4rem;
}

.lvlhead {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}

.levels {
  list-style: none;
  line-height: 2.4rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
}

.eachlevel {
  margin-bottom: 1.4rem;
}

.list1 {
  list-style: none;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.head3 {
  display: flex;
  gap: 42rem;
  font-size: 2.4rem;
  font-weight: 700;
  padding-bottom: 1.6rem;
}

.questions {
  text-decoration: none;
  color: #00a3e0;
  transition: color 0.4s ease;
}
.questions:hover,
.questions:active {
  color: #7f858d;
}

.hidden {
  display: none;
}

.btns {
  margin-left: 39rem;
  background-color: rgb(22, 22, 22);
  border: none;
  cursor: pointer;
}

.listitem {
  border-bottom: 1px solid #ffffff30;
  padding-bottom: 3rem;
  cursor: pointer;
}

.listitem2 {
  border-bottom: 1px solid #ffffff30;
  padding-bottom: 3rem;
  cursor: pointer;
}

.listitem3 {
  border-bottom: 1px solid #ffffff30;
  padding-bottom: 3rem;
  cursor: pointer;
  margin-bottom: 8rem;
}

.btns2 {
  margin-left: 37.2rem;
  background-color: rgb(22, 22, 22);
  border: none;
  cursor: pointer;
}

.btns3 {
  margin-left: 48.5rem;
  background-color: rgb(22, 22, 22);
  border: none;
  cursor: pointer;
}

.lastsection {
  background-color: rgb(26, 30, 31);
  height: 22.839rem;
  /* width: 190rem; */
}

.firstcolume {
  color: #fff;
  margin-left: 8rem;
}

.box6 {
  padding-top: 5rem;
  display: flex;
  gap: 60rem;
  justify-content: center;
  align-items: center;
}

.firstcolume {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 1.4rem;
}

.logotbc {
  width: 10.6rem;
  height: 3rem;
}

.scncolume {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.FB {
  padding-right: 0.6rem;
}

.textus {
  background-color: #00a3e0;
  /* padding-left: 3rem;
  padding-right: 3rem; */
  color: #fff;
  font-size: 2rem;
  /* padding-bottom: 0.5rem;
  padding-top: 0.5rem; */
  border-radius: 7.5px;
  /* border: none; */
  /* cursor: pointer; */
  margin-right: 7rem;
  /* transition: color 0.6s ease; */

  transition: color 0.3s ease;
  padding: 0.7rem 3rem 0.7rem 3rem;
  text-decoration: none;
}

.textus:hover,
.textus:active {
  background-color: #dfdddd;
  color: #1a1e1f;
}

.text,
.text1,
.text2 {
  font-size: 1.6rem;
  font-weight: 400;
  padding-top: 2rem;
}

.rules {
  cursor: pointer;
}

.socials {
  cursor: pointer;
}

.Security {
  /* padding-right: 20rem; */
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.COPYRIGHT {
  cursor: pointer;
}

.rotate180 {
  transform: rotate(180deg);
}

.sticky {
  position: fixed;
  /* position: sticky; */
  top: 0;
  width: 100%;
  background-color: rgba(36, 35, 35, 0.95);
}

.sticky2 {
  margin-top: 8.4rem;
}

/* .sticky-color {
  background-color: rgba(36, 35, 35, 0.95);
} */

/* .transition1 {
  transition: all 0.3s ease;
} */
